{call_module_header title="Master Tables"}
{literal}
<script type="text/javascript" src="js/ui/ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="../libs/ckeditor_3.5.1/ckeditor.js"></script>
<link rel="stylesheet" type="text/css" href="css/style.css" />
{/literal}
{assign var="actionReturn" value=$obj->actionReturn}
<form action="" name="formName" method="post" enctype="multipart/form-data" onsubmit="return validatefck()">
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="table_style">
{if $obj->getPageError()}
<tr>
	<td class="errorMessage">{$obj->popPageError()}</td>
</tr>
{/if}
<tr>
	<td class="pageHead"><span id="heading"><strong>Master Table Management</strong></span></td>
</tr>
{if ($obj->currentAction	==	"Addform")	||	($obj->currentAction	==	"Editform")}
<tr>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>

		<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="formTable">
			<tr>
				<th colspan="2">Manage Master Table Section</th>
			</tr>
		
			<tr>
				<td width="150">Section</td>
				<td><input type="text" name="ms_table_section" valtype="emptyCheck-please enter section name"  value="{$actionReturn.data.ms_table_section}" id="sectionId" size="30" class="validateText"/></td>
			</tr>
			{if $actionReturn.combo}
				<tr>
				<td>Parent Section</td>
				<td>{$actionReturn.combo}</td>
			</tr>
			{/if}
			{if $obj->currentAction	==	"Editform"}
			<tr>
				<td>Preference</td>
				<td>
					<input type="text" name="preference" id="preference"  value="{$actionReturn.data.preference}" size="10" class="validateText"/>
				</td>
			</tr>
			{/if}
			<tr>
				<td>&nbsp;</td>
				<td>
				{if $obj->currentAction	==	"Editform"}
					<input type="submit" valcheck="true" class="butsubmit"  name="actionvar" value="Update" id="saveDataId" />
				{else}
					<input type="submit" valcheck="true" class="butsubmit"  name="actionvar" value="Save" id="saveDataId"  />
				{/if}
					<input type="submit" class="butsubmit"  name="actionvar" value="Cancel" id="cancelId" />
				</td>
			</tr>
		</table>
	
	</td>
</tr>	
{/if}

{if $obj->permissionCheck("View")}
<tr>
	{if $obj->currentAction	==	"Listing"}
	<td>
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tr>
				<td  align="right">&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>
			
					<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="searchTable">
						<tr>
						<td> <strong> {$actionReturn.spage->startingRow} - {$actionReturn.spage->endingRow}  </strong> of <strong>{$actionReturn.spage->totcnt} </strong> </td>							
						<td>Select parent:</td>
							<td>
								{$actionReturn.searchdata.combo}
							</td>
							<td>Keyword:</td>
							<td>
							<input type="text" name="keyword" maxlength="25" id="id_keyword" value="{$actionReturn.searchdata.keyword}" />
							</td>
							
							<td>
								<input name="actionvar" type="submit" class="butsubmit" value="Search" />
							</td>
							<td>
							<input name="actionvar" type="submit" class="butsubmit" value="Reset" />
							</td>
							<td>							
							{if $obj->permissionCheck("Add")}
							<input name="actionvar" type="submit" class="butsubmit" value="Add New" />
							{/if}
							</td>
						</tr>
					</table>
					
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			{if $actionReturn.data}
			<tr>
				<td align="center" valign="middle">
				
					<table width="100%" border="0" cellpadding="0" cellspacing="0" class="listTable">
						<tr align="center" valign="middle">							
							<th>No</th>
							<th>
								<a href="{$obj->getLink('Search','',false)}&sortField=ms_table_section&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
								Section
								{$obj->getSortImage('ms_table_section',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}
								</a>
							</th>
							
							<th>
								<a href="{$obj->getLink('Search','',false)}&sortField=preference&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
								Preference
								{$obj->getSortImage('preference',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}
								</a>
							</th>
							<th>Action </th>

						</tr>
					{foreach from=$actionReturn.data item=data name=i}
						<tr>
							<td>{$actionReturn.spage->startingRow+$smarty.foreach.i.index}</td>
							<td>{$data.ms_table_section}</td>
							<td >{$data.preference}</td>
							<td>
							{if $obj->permissionCheck("Status")}
<a href="{$obj->getLink('Stauschange','',true,$obj->getConcat('id=',$data.id,'&status=',$data.status))}" class="Second_link">
							{if $data.status == 1} 
							<img src="images/active.gif" border="0" title="Click here to inactivate">
							 {else} 							 
							 <img src="images/inactive.gif" border="0" title="Click here to activate">
							 {/if}
							 </a> 
							{/if}
							{if $obj->permissionCheck("Edit")}
							<a href="{$obj->getLink('editform','',true,$obj->getConcat('id=',$data.id))}" class="Second_link"> <img src="images/edit.gif" border="0" title="Click here to edit"></a> 
							{/if}
							</td>
						</tr>
					{/foreach}
					<tr>
						<td colspan="6">{$actionReturn.spage->s_get_links()}</td>
					</tr>
				</table>
				</td>
			</tr>
		{/if}
		
		</table>
	</td>
	{/if}
</tr>
{/if}
</table>
	</form>
{call_module_footer}
