RewriteEngine on

#simple urls
RewriteCond %{HTTP_HOST} !^www\. [NC] 
RewriteCond %{HTTP_HOST} ^([^.]+)\.com [NC] 
RewriteRule (.*) http://www.%1.com/$1 [r=301,L] 


#disable directory browsing
Options All -Indexes

#................Re Writing...........................................................................................
