RewriteEngine on

#simple urls
RewriteCond %{HTTP_HOST} !^www\. [NC] 
RewriteCond %{HTTP_HOST} ^([^.]+)\.com [NC] 
RewriteRule (.*) http://www.%1.com/$1 [r=301,L] 


#disable directory browsing
Options All -Indexes

#................Re Writing...........................................................................................
RewriteRule ^signup/?$ 		signUp.php [NC,L]
RewriteRule ^login/?$ 		signIn.php [NC,L]
RewriteRule ^logout/?$ 		logOut.php [NC,L]
RewriteRule ^home/?$ 		customerHome.php [NC,L]
RewriteRule ^survey/?$ 		myQuestionnaire.php [NC,L]
RewriteRule ^share/?$ 		share.php [NC,L]


RewriteRule ^settings/?$ changePassword.php [NC,L]
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^login-(.*)/$ 	signIn.php?actionvar=Facebooksignin&%1 [NC,L]

RewriteRule ^profile/?$ myProfile.php [NC,L]
RewriteRule ^Edit_Profile-Editform/$ myProfile.php?actionvar=Editform

RewriteRule ^New/?$ dealsNew.php [NC,L]
RewriteRule ^New-Search-(.*)-(.*)/$ dealsNew.php?actionvar=Search&sortField=$1&sortMethod=$2
RewriteRule ^New-page(.*)/$ dealsNew.php?n_page=$1

RewriteRule ^Purchased/?$ dealsPurchased.php [NC,L]
RewriteRule ^Purchased-Search-(.*)-(.*)/$ dealsPurchased.php?actionvar=Search&sortField=$1&sortMethod=$2
RewriteRule ^Purchased-page(.*)/$ dealsPurchased.php?n_page=$1
RewriteRule ^Purchased-Sendingcoupon-(.*)/$ dealsPurchased.php?actionvar=Sendingcoupon&id=$1

RewriteRule ^Purchased/Print-(.*)/$ printPopup.php?actionvar=Getpopup&coupon=$1
RewriteRule ^Gifts/Print-(.*)/$ printPopup.php?actionvar=Getpopup&coupon=$1

RewriteRule ^Coupon/Print-(.*)/$ printCoupon.php?actionvar=Getpopup&coupon=$1



RewriteRule ^Voted/?$ dealsVoted.php [NC,L]
RewriteRule ^Voted-Search-(.*)-(.*)/$ dealsVoted.php?actionvar=Search&sortField=$1&sortMethod=$2
RewriteRule ^Voted-page(.*)/$ dealsVoted.php?n_page=$1

RewriteRule ^Points/?$ myPoints.php [NC,L]
RewriteRule ^Points-Search-(.*)-(.*)/$ myPoints.php?actionvar=Search&sortField=$1&sortMethod=$2
RewriteRule ^Points-page(.*)/$ myPoints.php?n_page=$1

RewriteRule ^Gifts/?$ giftCoupons.php [NC,L]
RewriteRule ^Gifts-Search-(.*)-(.*)/$ giftCoupons.php?actionvar=Search&sortField=$1&sortMethod=$2
RewriteRule ^Gifts-page(.*)/$ giftCoupons.php?n_page=$1
RewriteRule ^Gifts-Sendingcoupon-(.*)/$ giftCoupons.php?actionvar=Sendingcoupon&id=$1


RewriteRule ^Invitation/?$ inviteFriends.php [NC,L]
RewriteRule ^Invitation-Search-(.*)-(.*)/$ inviteFriends.php?actionvar=Search&sortField=$1&sortMethod=$2
RewriteRule ^Invitation-page(.*)/$ inviteFriends.php?n_page=$1
RewriteRule ^Joining-Invitation/$ inviteFriends.php?actionvar=Invitation
RewriteRule ^Invitation-Oncemore-(.*)/$ inviteFriends.php?actionvar=Oncemore&id=$1

RewriteRule ^details-Viewform-(.*)/$ dealsView.php?actionvar=Viewform&id=$1
RewriteRule ^EcommercePurchase-Viewform-(.*)/$ ecommerceView.php?actionvar=Viewform&id=$1

RewriteRule ^Ecommerce/?$ ecommerceOrder.php [NC,L]
RewriteRule ^Ecommerce-Search-(.*)-(.*)/$ ecommerceOrder.php?actionvar=Search&sortField=$1&sortMethod=$2
RewriteRule ^Ecommerce-page(.*)/$ ecommerceOrder.php?n_page=$1


RewriteRule ^LockedDeals/?$ 	allDeals.php?status=3 [NC,L]
RewriteRule ^unlockedDeals/?$ 	allDeals.php?status=4 [NC,L]
RewriteRule ^Alldeals/(.*)-([0-9]+)/?$ 	allDeals.php?cat_id=$2 [NC,L]
RewriteRule ^Alldeals/?$ 	allDeals.php [NC,L]
RewriteRule ^completedDeals/?$ 	completedDeals.php [NC,L]
RewriteRule ^DealPurchase-(.*)/$ 	yourPurchase.php?id=$1 [NC,L]
RewriteRule ^ecommProducts/?$ 	productListing.php [NC,L]
RewriteRule ^cart/?$ 	shoppingCart.php [NC,L]
RewriteRule ^checkout/?$ 	checkout.php [NC,L]
RewriteRule ^checkout-Placeorder/$ checkout.php?actionvar=Placeorder

RewriteRule ^ecommProducts-Addcart-(.*)/$ productListing.php?actionvar=Addcart&id=$1

RewriteRule ^policy/?$ 	cmsPages.php?cms_id=2 [NC,L]
RewriteRule ^terms/?$ 	cmsPages.php?cms_id=1 [NC,L]
RewriteRule ^about-us/?$ 	cmsPages.php?cms_id=37 [NC,L]
RewriteRule ^contact-us/?$ 	contactus.php [NC,L]
RewriteRule ^faq/?$ 	sitefaqs.php [NC,L]
RewriteRule ^TheFinePrint/?$ 	finePrint.php [NC,L]

RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^deals/(.*)-([0-9]+)/?$ 		dealDetails.php?id=$2&%1 [NC,L]

RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^completedDeals-(.*)/$ completedDeals.php?n_page=$1&%1

RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^completedDeals-(.*)-page(.*)/$ completedDeals.php?actionvar=Listing&id=$1&n_page=$2&%1

RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^ecommProducts-(.*)/$ productListing.php?n_page=$1&%1

RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^ecommProducts-(.*)-page(.*)/$ productListing.php?actionvar=Listing&id=$1&n_page=$2&%1

RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^products/([0-9]+)/?$ 		productDetails.php?id=$1&%1 [NC,L]

RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^activation-Statuschange-(.*)/$ signIn.php?actionvar=Customeractive&code=$1&%1

#..................................................................................................................


#php values
#php_flag magic_quotes_gpc Off
#php_flag magic_quotes_runtime Off
#php_flag magic_quotes_sybase Off