{literal}
<script type="text/javascript" src="js/highslide/highslide.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$("[valcheck='second']").click(function()
	{
		return newValidate($("[valcheck='second']").parents('form:first'));
	});
});	
	{/literal}
</script>

<link rel="stylesheet" type="text/css" href="js/highslide/highslide.css" />
{/literal}
{assign var="actionReturn" value=$obj->actionReturn}
<form action="" name="fromName" method="post" enctype="multipart/form-data">
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="table_style">
<tr>
	<td class="pageHead"><strong>{if ($obj->currentAction	==	"Addform")}Add {/if} {if ($obj->currentAction	==	"Editform")}Edit {/if}Emails Under Categories</strong></td>
</tr>

{if $obj->getPageError()}
<tr>
	<td class="errorMessage">{$obj->popPageError()}</td>
</tr>
{/if}
{if ($obj->currentAction	==	"Uploadform")}
<tr>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>
		<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="formTable">
			<tr>
				<th colspan="2">Upload Csv</th>
			</tr>
			<tr>
				<td width="150">Index of name</td>
				<td><input type="text"  name="nameIndex" value="" class="nummberOnly" id="nameIndexId" valtype="emptyCheck-Please enter the index of name "/></td>
			</tr>
			<tr>
				<td width="150">Index of email</td>
				<td><input type="text"  name="emailIndex" value="" class="nummberOnly" id="emailIndexId" valtype="emptyCheck-Please enter the index of email "/></td>
			</tr>
			<tr>
				<td width="150">Category</td>
				<td>{$actionReturn.data.emailcombo}</td>
			</tr>
			<tr>
				<td width="150">Upload File</td>
				<td><input type="file"  name="fileCsv" value="" id="fileCsvId" valtype="emptyCheck-Please upload the csv"/></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" class="butsubmit" valcheck="second" name="actionvar" value="Upload" id="uploadDataId" /></td>
			</tr>
		</table>
	</td>
</tr>

{/if}

{if ($obj->currentAction	==	"Addform")	||	($obj->currentAction	==	"Editform")}
<tr>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>
		
		<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="formTable">
			<tr>
				<th colspan="2">Manage Emails</th>
			</tr>
			
			
			<tr>
				<td width="150">Email Category</td>
				<td>{$actionReturn.data.catcombo}</td>
			</tr>
		
			
			<tr>
				<td>Name</td>
				<td><input type="text"  name="name" value="{$actionReturn.data.name}" id="nameId" valtype="emptyCheck-Please enter the name "/>  				
				</td>
			</tr>
			
			<tr>
				<td>Email</td>
				<td><input type="text"  name="email" value="{$actionReturn.data.email}" id="emailId" valtype="emptyCheck-Please enter the emailid|emailCheck-please enter a valid Email"/>  				
				</td>
			</tr>
						
			<tr>
				<td>&nbsp;</td>
				<td>
				{if $obj->currentAction	==	"Editform"}
					{if $obj->permissionCheck("Edit")}
						<input type="submit" class="butsubmit" valcheck="true" name="actionvar" value="Update" id="saveDataId" />
					{/if}
				{else}
					<input type="submit" class="butsubmit" valcheck="true" name="actionvar" value="Save" id="saveDataId" />
				{/if}
					<input type="submit" class="butsubmit"  name="actionvar" value="Cancel" id="cancelId" />
				</td>
			</tr>
		</table>
		
	</td>
</tr>
{/if}	




{if $obj->permissionCheck("View")}
<tr>
	 {if $obj->currentAction	==	"Listing"}
	<td>
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tr>
				<td  align="right">&nbsp;</td>
			</tr>
			
			<tr>
				<td>
				
					<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="searchTable">
						<tr>
					<td> <strong> {$actionReturn.spage->startingRow} - {$actionReturn.spage->endingRow}  </strong> of <strong>{$actionReturn.spage->totcnt} </strong> </td>							

							<td>Email:
							<input type="text" name="keyword" maxlength="25" id="id_keyword" value="{$actionReturn.searchdata.keyword}" />
							</td>
							<td>
							<input name="actionvar" type="submit" class="butsubmit" value="Search" />
							</td>
							<td>
							<input name="actionvar" type="submit" class="butsubmit" value="Reset" />
							</td>
							<td>
							<input name="actionvar" type="submit" class="butsubmit" value="Add New" />
							</td>
							<td>
								<a href="{$obj->getLink('getcsv','',true)}&csv=csv" class="Second_link" title="Export to CSV">
								<img src="images/csv.png" border="0" alt="Export to CSV" width="25" height="25" />
								</a>
							</td>
							<td>
							<input name="actionvar" type="submit" class="butsubmit" value="Upload CSV" />
								</a>
							</td>
						</tr>
					</table>
				
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			{if $actionReturn.data}
			<tr>
				<td align="center" valign="middle">
				
					<table width="100%" border="0" cellpadding="0" cellspacing="0" class="listTable">
						<tr align="center" valign="middle">							
							<th>No</th>
							<th>
							<a href="{$obj->getLink('Search','',false)}&sortField=category&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
								Catogories
								{$obj->getSortImage('category',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}
								</a>
							</th>
							<th>Name</th>
							<th>Email</th>
							<th>Action </th>
						</tr>
					{foreach from=$actionReturn.data item=data name=i}
						<tr>
							<td>{$actionReturn.spage->startingRow+$smarty.foreach.i.index}</td>
							<td>{$data.category}</td>
							<td>{$data.name}</td>
							<td>{$data.email}</td>
							
							<td>
								{if $obj->permissionCheck("Status")}
					<a href="{$obj->getLink('Statuschange','',true,$obj->getConcat('id=',$data.id))}" class="Second_link">
					{/if}
							{if $data.status == 1} 
							<img src="images/active.gif" border="0" title="Click here to inactivate">
							 {else} 							 
							 <img src="images/inactive.gif" border="0" title="Click here to activate">
							 {/if}
					{if $obj->permissionCheck("Status")}
					 </a> 
					{/if}	 
							{if $obj->permissionCheck("Edit")}
							<a href="{$obj->getLink('editform','',true,$obj->getConcat('id=',$data.id))}" class="Second_link"><img src="images/edit.gif" border="0" title="Click here to edit"></a>  
							{/if}
							<!--{if $obj->permissionCheck("Delete")}
							<a href="{$obj->getLink('editform','',true,$obj->getConcat('id=',$data.id))}" class="Second_link"><img src="images/delete.gif" border="0" title="Click here to delete"></a>
							</td>
							{/if}-->
						</tr>
					{/foreach}
					<tr>
						<td colspan="5">{$actionReturn.spage->s_get_links()}</td>
					</tr>
				</table>
				</td>
			</tr>
		{/if}
		</table>
	</td>
	{/if}
</tr>
{/if}
</table>
</form>

{include_php file="footer.php"}
