{assign var="actionReturn" value=$obj->actionReturn}

{literal}
<script type="text/javascript">
function getsubcat(cid,changeId)
	{
		$("#"+changeId).html("Loading...");
		$.ajax({
			   type	: "GET",
			   url	: "dealOrderAll.php",
			   data	: "actionvar=Getsubcatcombo&cid="+cid,
			   dataType: "html",
			   success: function(msg){
				   $("#"+changeId).html(msg);
				}
			 });
	}
$(document).ready(function() {
	$("#CommisionReport").tooltip();
	$("#txt_order_from").datepicker();
	$("#txt_order_from").datepicker('option',
	{
		showAnim:'show',
		changeMonth: true,
		changeYear: true,
		//minDate: -20, 
		//maxDate: '+1M +10D',
		showOtherMonths: true, 
		selectOtherMonths: true,
		//yearRange:'c-50:c+10',
		autoSize:false
	});

	$("#txt_order_to").datepicker();
	$("#txt_order_to").datepicker('option',
	{
		showAnim:'show',
		changeMonth: true,
		changeYear: true,
		//minDate: -20, 
		//maxDate: '+1M +10D',
		showOtherMonths: true, 
		selectOtherMonths: true,
		//yearRange:'c-50:c+10',
		autoSize:false
	});

});
</script>

<link type="text/css" href="js/ui/themes/base/jquery.ui.all.css" rel="stylesheet" />
<script type="text/javascript" src="js/ui/ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="js/ui/ui/jquery.ui.widget.js"></script>
<script type="text/javascript" src="js/ui/ui/jquery.ui.datepicker.js"></script>

{/literal}

<form action="" name="fromName" method="post" enctype="multipart/form-data">
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="table_style">
{if $obj->getPageError()}
<tr>
	<td class="errorMessage">{$obj->popPageError()}</td>
</tr>
{/if}
<tr>
	<td>
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tr>
				<td align="left"  class="pageHead"><span id="CommisionReport"><strong>{if $obj->currentAction	==	"Transcomplete"}Consolidated {/if}Commision Report {if $obj->currentAction	==	"Transall"}All{/if}{if $obj->currentAction	==	"Transdaily"}Daily{/if}{if $obj->currentAction	==	"Transmonthly"}Monthly{/if}{if $obj->currentAction	==	"Transyearly"}Yearly{/if} </strong></span></td>
				<td align="right" class="pageHead" style="text-align:right">
				{if $obj->currentAction	==	"Transcoupon" || $obj->currentAction	==	"Transview" || $obj->currentAction	==	"Transcomplete"}
				{else}
					<strong> {$actionReturn.spage->startingRow} - {$actionReturn.spage->endingRow}  </strong> of <strong>{$actionReturn.spage->totcnt} </strong>
				{/if}
				</td>
			</tr>
		</table>
	</td>
</tr>
	
	{if $obj->currentAction	==	"Transall"}
	<tr>
		<td>
			<table cellpadding="0" cellspacing="0" border="0" width="100%">
				{include file='commisionReportSearch.tpl'}
				{if $actionReturn.data}
				<tr>
					<td align="center" valign="middle">
						<table width="100%" border="0" cellpadding="0" cellspacing="0" class="listTable">
							<tr align="center" valign="middle">							
								<th><a href="{$obj->getLink('Transallsearch','','false')}&sortField=o.id&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
								Order Id
								{$obj->getSortImage('o.id',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}
								</a></th>
								<th><a href="{$obj->getLink('Transallsearch','','false')}&sortField=o.orderDate&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
								Order Date
								{$obj->getSortImage('o.orderDate',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}
								</a></th>
								<th><a href="{$obj->getLink('Transallsearch','','false')}&sortField=o.quantity&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
								Quantity
								{$obj->getSortImage('o.quantity',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}
								</a></th>
								<th><a href="{$obj->getLink('Transallsearch','','false')}&sortField=d.name&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
								Deal Name
								{$obj->getSortImage('d.name',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}				
								</a></th>
								<th><a href="{$obj->getLink('Transallsearch','','false')}&sortField=cu.fname&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
								Customer Name
								{$obj->getSortImage('cu.fname',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)} 
								 </a></th>
								<th><a href="{$obj->getLink('Transallsearch','','false')}&sortField=vc.vendor_commision&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
								Vendor Commision
								{$obj->getSortImage('vc.vendor_commision',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}
								</a></th>
								<th><a href="{$obj->getLink('Transallsearch','','false')}&sortField=vc.site_commision&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
								Site Commision
								{$obj->getSortImage('vc.site_commision',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)} 
								 </a></th>							
								<th><a href="{$obj->getLink('Transallsearch','','false')}&sortField=vc.sales_commision&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
								Sales Commision
								{$obj->getSortImage('vc.sales_commision',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)} 
								 </a></th>							
							</tr>
							
						{foreach from=$actionReturn.data item=data name=i}
							<tr>
								<td>{$data.order_id}</td>
								<td>{$obj->displayDate($data.orderDate)}</td>
								<td>{$data.quantity}</td>
								<td><a class="helpText" onmouseover="return escape('{$data.dealPopUp}')">{$data.dealname}</a></td>
								<td>{$data.customerfname} {$data.customerlname}</td>
								<td>{$data.vendor_commision}</td>
								<td>{$data.site_commision}</td>
								<td>{$data.sales_commision}</td>
							</tr>
						{/foreach}
						<tr>
							<td colspan="9">{$actionReturn.spage->s_get_links()}</td>
						</tr>
					</table>
					</td>
				</tr>
			{/if}
			</table>
		</td>
	</tr>
	{/if}
	
	{if $obj->currentAction	==	"Transdaily"}
	<tr>
	<td>
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			{include file='commisionReportSearch.tpl'}
			{if $actionReturn.data}
			<tr>
				<td align="center" valign="middle">
					<table width="100%" border="0" cellpadding="0" cellspacing="0" class="listTable">
						<tr align="center" valign="middle">							
						
							<th><a href="{$obj->getLink('Transdailysearch','','false')}&sortField=o.orderDate&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
							Order Date
							{$obj->getSortImage('o.orderDate',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}
							</a></th>
							
							<th><a href="{$obj->getLink('Transdailysearch','','false')}&sortField=tot_orders&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
							#Orders
							{$obj->getSortImage('tot_orders',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}
							</a></th>
							
							<th><a href="{$obj->getLink('Transdailysearch','','false')}&sortField=tot_quantity&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
							#Quantity
							{$obj->getSortImage('tot_quantity',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}				
							</a></th>
							
							<th><a href="{$obj->getLink('Transdailysearch','','false')}&sortField=tot_deals&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
							#Deals
							{$obj->getSortImage('tot_deals',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}				
							</a></th>
							
							<th><a href="{$obj->getLink('Transdailysearch','','false')}&sortField=tot_customers&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
							#Customers
							{$obj->getSortImage('tot_customers',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}
							</a></th>
							
							<th><a href="{$obj->getLink('Transdailysearch','','false')}&sortField=tot_commsn_vendor&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
							#Vendor Commision
							{$obj->getSortImage('tot_commsn_vendor',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)} 
							 </a></th>	
							 						
							<th><a href="{$obj->getLink('Transdailysearch','','false')}&sortField=tot_commsn_site&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
							#Site Commision
							{$obj->getSortImage('tot_commsn_site',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)} 
							 </a></th>	
							 						
							<th><a href="{$obj->getLink('Transdailysearch','','false')}&sortField=tot_commsn_sales&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
							#Sales commision
							{$obj->getSortImage('tot_commsn_sales',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)} 
							 </a></th>		
						 					
							<th>Action </th>

						</tr>
						
					{foreach from=$actionReturn.data item=data name=i}
						<tr>
							<td>{$obj->displayDate($data.orderDate)}</td>
							<td>{$data.tot_orders}</a></td>
							<td>{$data.tot_quantity}</td>
							<td>{$data.tot_deals}</a></td>
							<td>{$data.tot_customers}</a></td>
							<td>{$data.tot_commsn_vendor}</a></td>
							<td>{$data.tot_commsn_site}</a></td>
							<td>{$data.tot_commsn_sales}</a></td>
							<td>
							{if $obj->permissionCheck("View")}
							<a href="{$obj->getLink('Gotransall','',true)}&datesearch={$obj->displayDbDate($data.orderDate)}" class="Second_link" title="Click here to view all details">
							<img height="20" width="20" border="0" src="images/inner_details.png"> 
							</a>
							{/if}
							</td>
						</tr>
					{/foreach}
					<tr>
						<td colspan="9">{$actionReturn.spage->s_get_links()}</td>
					</tr>
				</table>
				</td>
			</tr>
		{/if}
		
		</table>
	</td>
</tr>
	{/if}

	{if $obj->currentAction	==	"Transmonthly"}
	<tr>
	<td>
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			{include file='commisionReportSearch.tpl'}
			{if $actionReturn.data}
			<tr>
				<td align="center" valign="middle">
					<table width="100%" border="0" cellpadding="0" cellspacing="0" class="listTable">
						<tr align="center" valign="middle">							
							
							<th><a href="{$obj->getLink('Transmonthlysearch','','false')}&sortField=o.orderDate&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
							Order Date
							{$obj->getSortImage('o.orderDate',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}
							</a></th>
							
							<th><a href="{$obj->getLink('Transmonthlysearch','','false')}&sortField=tot_orders&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
							#Orders
							{$obj->getSortImage('tot_orders',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}
							</a></th>
							
							<th><a href="{$obj->getLink('Transmonthlysearch','','false')}&sortField=tot_quantity&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
							#Quantity
							{$obj->getSortImage('tot_quantity',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}
							</a></th>
							
							<th><a href="{$obj->getLink('Transmonthlysearch','','false')}&sortField=tot_deals&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
							#Deals
							{$obj->getSortImage('tot_deals',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}				
							</a></th>
							
							<th><a href="{$obj->getLink('Transmonthlysearch','','false')}&sortField=tot_customers&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
							#Customers
							{$obj->getSortImage('tot_customers',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}
							</a></th>
							
							<th><a href="{$obj->getLink('Transmonthlysearch','','false')}&sortField=tot_commsn_vendor&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
							#Vendor Commision
							{$obj->getSortImage('tot_commsn_vendor',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)} 
							 </a></th>	
							 						
							<th><a href="{$obj->getLink('Transmonthlysearch','','false')}&sortField=tot_commsn_site&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
							#Site Commision
							{$obj->getSortImage('tot_commsn_site',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)} 
							 </a></th>	
							 						
							<th><a href="{$obj->getLink('Transmonthlysearch','','false')}&sortField=tot_commsn_sales&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
							#Sales Commision
							{$obj->getSortImage('tot_commsn_sales',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)} 
							 </a></th>		
							<th>Action </th>
						</tr>
					{foreach from=$actionReturn.data item=data name=i}
						<tr>
							<td>{$data.dealyear} {$data.dealmonth}</td>
							<td>{$data.tot_orders}</a></td>
							<td>{$data.tot_quantity}</a></td>
							<td>{$data.tot_deals}</a></td>
							<td>{$data.tot_customers}</a></td>
							<td>{$data.tot_commsn_vendor}</a></td>
							<td>{$data.tot_commsn_site}</a></td>
							<td>{$data.tot_commsn_sales}</a></td>
							<td>
							{if $obj->permissionCheck("View")}
							<a href="{$obj->getLink('Gotransdaily','',true)}&datesearch={$obj->displayDbDate($data.orderDate)}" class="Second_link" title="Click here to view daily wise details">
							<img height="20" width="20" border="0" src="images/inner_details.png"> 
							</a>
							{/if}
							</td>
						</tr>
					{/foreach}
					<tr>
						<td colspan="9">{$actionReturn.spage->s_get_links()}</td>
					</tr>
				</table>
				</td>
			</tr>
		{/if}
		
		</table>
	</td>
</tr>
	{/if}

	{if $obj->currentAction	==	"Transyearly"}
	<tr>
	<td>
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			{include file='commisionReportSearch.tpl'}
			{if $actionReturn.data}
			<tr>
				<td align="center" valign="middle">
					<table width="100%" border="0" cellpadding="0" cellspacing="0" class="listTable">
						<tr align="center" valign="middle">							
							
							<th><a href="{$obj->getLink('Transyearlysearch','','false')}&sortField=o.orderDate&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
							Year
							{$obj->getSortImage('o.orderDate',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}
							</a></th>
							
							<th><a href="{$obj->getLink('Transyearlysearch','','false')}&sortField=tot_orders&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
							#Orders
							{$obj->getSortImage('tot_orders',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}
							</a></th>
							
							<th><a href="{$obj->getLink('Transyearlysearch','','false')}&sortField=tot_quantity&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
							#Quantity
							{$obj->getSortImage('tot_quantity',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}
							</a></th>
							
							<th><a href="{$obj->getLink('Transyearlysearch','','false')}&sortField=tot_deals&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
							#Deals
							{$obj->getSortImage('tot_deals',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}				
							</a></th>
							
							<th><a href="{$obj->getLink('Transyearlysearch','','false')}&sortField=tot_customers&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
							#Customers
							{$obj->getSortImage('tot_customers',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}
							</a></th>
							
							<th><a href="{$obj->getLink('Transyearlysearch','','false')}&sortField=tot_commsn_vendor&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
							#Vendor commision
							{$obj->getSortImage('tot_commsn_vendor',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)} 
							 </a></th>	
							 						
							<th><a href="{$obj->getLink('Transyearlysearch','','false')}&sortField=tot_commsn_site&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
							#Site Commision
							{$obj->getSortImage('tot_commsn_site',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)} 
							 </a></th>	
							 						
							<th><a href="{$obj->getLink('Transyearlysearch','','false')}&sortField=tot_commsn_sales&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
							#Sales Commision
							{$obj->getSortImage('tot_commsn_sales',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)} 
							 </a></th>		
							 					
							<th>Action </th>

						</tr>
						
					{foreach from=$actionReturn.data item=data name=i}
						<tr>
							<td>{$data.dealyear}</td>
							<td>{$data.tot_orders}</a></td>
							<td>{$data.tot_quantity}</a></td>
							<td>{$data.tot_deals}</a></td>
							<td>{$data.tot_customers}</a></td>
							<td>{$data.tot_commsn_vendor}</a></td>
							<td>{$data.tot_commsn_site}</a></td>
							<td>{$data.tot_commsn_sales}</a></td>
							<td>
							{if $obj->permissionCheck("View")}
							<a href="{$obj->getLink('Gotransmonthly','',true)}&datesearch={$obj->displayDbDate($data.orderDate)}" class="Second_link" title="Click here to view monthly wise details">
							<img height="20" width="20" border="0" src="images/inner_details.png"> 
							</a>
							{/if}
							</td>
						</tr>
					{/foreach}
					<tr>
						<td colspan="9">{$actionReturn.spage->s_get_links()}</td>
					</tr>
				</table>
				</td>
			</tr>
		{/if}
		
		</table>
	</td>
</tr>
	{/if}
{if $obj->currentAction	==	"Transcomplete"}
	<tr>
	<td>
		<table  width="100%"  cellpadding="0" cellspacing="0" border="0">
			{include file='commisionReportSearch.tpl'}
								<tbody>
									<tr>
										<td width="50%" height="100"valign="top">
											<div class="boxList"  >
												<div>
													<table width="674" border="0" align="center" cellpadding="0" cellspacing="0" class="listTablePopUp">		
														<th colspan="4" ><div align="center">{if $actionReturn.data.0.tot_order == 0}No Records Found{else}Consolidated&nbsp; Report</div></th>
														<tr>
															<td width="150">Total Order</td>
															<td width="238"><b>{$actionReturn.data.0.tot_order}</b></td>
															<td width="98">Total Deals</td>
															<td width="214"><b>{$actionReturn.data.0.tot_deals}</b></td>
														</tr>
														<tr>
															<td>Total Redeemed</td>
															<td><b>{$actionReturn.data.0.tot_redeemed}</b></td>
															<td>Total Quantity</td>
															<td><b>{$actionReturn.data.0.tot_quantity}</b></td>
														</tr>
														<tr>
															<td width="175">Total Vendor commision</td>
															<td><b>${$actionReturn.data.0.tot_vendor_commsn}</b></td>
															<td width="150">Total Site Commision</td>
															<td><b>${$actionReturn.data.0.tot_site_commsn}</b></td>
														</tr>
														<tr>
															<td>Total Sales Commision</td>
															<td><b>${$actionReturn.data.0.tot_sales_commsn}</b></td>
															<td></td>
															<td><a class="view-more" title="Click here to view yearly report" target="_blank" href="{$obj->getLink('Gotoyearlyreport','',true)}">
															view more
                            								</a></td>
														</tr>
														{/if}
														<tr><td colspan="4"></td></tr>
												  </table>
												</div>
											</div>
									  </td>
									</tr>
								</tbody>
						</table>
	</td>
	</tr>
{/if}
</table>
{literal}
<script type="text/javascript" src="js/tooltip.js"></script>		
{/literal}
{include_php file="footer.php"}
