{assign var="actionReturn" value=$obj->actionReturn}
{literal}
<script type="text/javascript">
function getcombo(cid,changeId)
	{
		$.ajax({
			   type	: "GET",
			   url	: "defaultValues.php",
			   data	: "actionvar=Getcombo&id="+cid,
			   dataType: "html",
			   success: function(msg){
				   $("#"+changeId).html(msg);
				}
			 });
	}
</script>

<link type="text/css" href="js/ui/themes/base/jquery.ui.all.css" rel="stylesheet" />
<script type="text/javascript" src="js/ui/ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="js/ui/ui/jquery.ui.widget.js"></script>
<script type="text/javascript" src="js/ui/ui/jquery.ui.datepicker.js"></script>

{/literal}
<form action="" name="fromName" method="post" enctype="multipart/form-data">
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="table_style">
{if $obj->getPageError()}
<tr>
	<td class="errorMessage">{$obj->popPageError()}</td>
</tr>
{/if}
<tr>
	<td class="pageHead"><strong>Default Values</strong></td>
</tr>
{if ($obj->currentAction	==	"Addform")	||	($obj->currentAction	==	"Editform")}
<tr>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>
		
		<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="formTable">
			<tr>
				<th colspan="2">Add Defaults</th>
			</tr>
			
			<tr>
				<td width="150" >
					Caption
				</td>
				<td><input size="70"  type="text" valtype="emptyCheck-please enter caption" name="caption" value="{$actionReturn.data.caption}" id="captionId" class="validateText"/></td>
			</tr>
			<tr>
				<td>Group</td>
				<td>{$actionReturn.combo}</td>
			</tr>
			{if ($obj->currentAction	==	"Addform")}
			<tr>
				<td>Name</td>
				<td><input type="text" size="70"  name="name"  valtype="emptyCheck-please enter name" value="{$actionReturn.data.name}" id="nameId" /></td>
			</tr>
			{/if}
			<tr>
				<td>Value</td>
				<td>
				<textarea  name="value" id="valueId" valtype="emptyCheck-Please enter value"  cols="52" rows="5">{$actionReturn.data.value}</textarea>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>
				{if $obj->currentAction	==	"Editform"}
				{if $obj->permissionCheck("Edit")}
					<input type="submit" class="butsubmit" valcheck="true" name="actionvar" value="Update" id="saveDataId" />
					{/if}
				{else}
					{if $obj->permissionCheck("Add")}
					<input type="submit" class="butsubmit" valcheck="true"   name="actionvar" value="Save" id="saveDataId" />
					{/if}
				{/if}
					<input type="submit" class="butsubmit"  name="actionvar" value="Cancel" id="cancelId" />
				</td>
			</tr>
		</table>
		
	</td>
</tr>	
{/if}




<tr>
	{if $obj->currentAction	==	"Listing"}
	<td>
	
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tr>
				<td  align="right">&nbsp;</td>
			</tr>
			
			<tr>
				<td>
					
					<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="searchTable">
						<tr>
							<td>  <strong> {$actionReturn.spage->startingRow} - {$actionReturn.spage->endingRow}  </strong> of <strong>{$actionReturn.spage->totcnt} </strong></td>
							<td>Default Group:</td>
							<td>
								{$actionReturn.searchdata.searchCombo}
							</td>
							<td>
							<input type="text" name="keyword" maxlength="25" id="id_keyword" value="{$actionReturn.searchdata.keyword}" />
							</td>
							<td>
							<input name="actionvar" type="submit" class="butsubmit" value="Search" />
							</td>
							<td>
							<input name="actionvar" type="submit" class="butsubmit" value="Reset" />
							</td>
							<td>
							{if $obj->permissionCheck("Add")}
							<input name="actionvar" type="submit" class="butsubmit" value="Add New" />
							{/if}
							</td>
						</tr>
					</table>
					
					
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			{if $actionReturn.data}
			<tr>
				<td align="center" valign="middle">
				
					<table width="100%" border="0" cellpadding="0" cellspacing="0" class="listTable">
						<tr align="center" valign="middle">	
							<th {if $obj->permissionCheck("Delete")} width="80" {/if}>
							{if $obj->permissionCheck("Delete")}
								<input type="checkbox" name="checkall" id="id_check_all" >
								{/if}
							</th>				
							<th>No</th>
							<th style="text-align:left;">
								<a href="{$obj->getLink('Search','',false)}&sortField=d.caption&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
								Caption
								{$obj->getSortImage('d.caption',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}
								</a>
							</th>
							<th style="text-align:left;">
								<a href="{$obj->getLink('Search','',false)}&sortField=d.value&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
								Value
								{$obj->getSortImage('d.value',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}
								</a>
							</th>
							<th style="text-align:left;">
								<a href="{$obj->getLink('Search','',false)}&sortField=d.name&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
								Name
								{$obj->getSortImage('d.name',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}
								</a>
								
							</th>
							<th>Action </th>

						</tr>
					{foreach name=i from=$actionReturn.data item=data}
						<tr>
							<td>
							{if $obj->permissionCheck("Delete")}
								<input type="checkbox" name="checkone[]" value="{$data.id}" >
							{/if}
							</td>
							<td style="text-align:left;">{$actionReturn.spage->startingRow+$smarty.foreach.i.index}</td>
							<td style="text-align:left;">{$obj->getLimitedText($data.caption,50)}</td>
							<td style="text-align:left;">
							<!--<a onmouseover="return escape('{$data.value}')">-->
							{$obj->getLimitedText($data.value,30)}
							<!--</a>-->
							</td>
							<td style="text-align:left;">{$obj->getLimitedText($data.name,100)}</td>
							<td>
							{if $obj->permissionCheck("Edit")}
							<a href="{$obj->getLink('editform','',true,$obj->getConcat('id=',$data.id))}" class="Second_link">
							<img src="images/edit.gif" alt="edit" border='0' titile="Click here to edit">
							</a> 
							{/if}
							</td>
						</tr>
					{/foreach}
					<tr>
						<td>
						{if $obj->permissionCheck("Delete")}
						<input class="butsubmit" value="Delete" type="submit" name="actionvar" id="id_btn_delete"> 
						{/if}
						</td>
						<td colspan="5">{$actionReturn.spage->s_get_links()}</td>
					</tr>
				</table>
			
				</td>
			</tr>
		{/if}
		
		</table>

	</td>
	{/if}
</tr>
</table>
</form>
{literal}

<script type="text/javascript" src="js/tooltip.js"></script>		
{/literal}

{include_php file="footer.php"}
