{literal}
<script language="javascript" type="text/javascript">
function getcombo(cid,changeId)
	{
	$.ajax({
			   type	: "GET",
			   url	: "salesPayment.php",			 
			   data	: "actionvar=Getcombo&id="+cid,
			   dataType: "html",
			   success: function(msg){
				   $("#"+changeId).html(msg);
				}
			});
	}
function displaypayment(cid,changeId)
	{
		$.ajax({
			   type	: "GET",
			   url	: "salesPayment.php",			 
			   data	: "actionvar=Getcombodeal&dealid="+cid,
			   dataType: "html",
			   success: function(msg){
				   $("#"+changeId).html(msg);
				}
			 });
	}
</script>
<script type="text/javascript">
$(document).ready(function(){
$("#Salesagent").tooltip();

});
</script>
{/literal}                  

{assign var="actionReturn" value=$obj->actionReturn}
<form action="" name="fromName" method="post" enctype="multipart/form-data">
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="table_style">
{if $obj->getPageError()}
<tr>
	<td class="errorMessage">{$obj->popPageError()}</td>
</tr>
{/if}
<tr>
	<td class="pageHead"><span  id="Salesagent"><strong>Sales Agent Payments </strong></div></td>
</tr>
{if ($obj->currentAction	==	"Addform")	}

<tr>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>
		<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="formTable">
			<tr>
				<th colspan="3">Payment Details</th>
			</tr>
			<tr>
				<td width="150">Sales Agent</td>
				<td>{$actionReturn.combo}</td>
			</tr>
			<tr>
				<td>Deals</td>
				<td>
					<div id="dealDivId">
					<select name="deals" >
					<option value='' >Select</option></select>
					</div>
				</td>
			</tr>
			
			
			<tr><td colspan="2">
				<div id="paymentdtails"> 
					<div align="middle"><input name="actionvar" type="submit" class="butsubmit" value="Cancel" /></div>
					
					
				</div><td>
			</tr>	
		</table>
	</td>
</tr>	
{/if}


<tr>
	{if $obj->currentAction	==	"Listing"}
	<td>
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tr>
				<td  align="right">&nbsp;</td>
			</tr>
				
			<tr>
				<td>
					<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="searchTable">
						<tr>
							<td><strong> {$actionReturn.spage->startingRow} - {$actionReturn.spage->endingRow}  </strong> of <strong>{$actionReturn.spage->totcnt} </strong></td>
							<td>Sales Agent:</td>
							<td>
								{$actionReturn.searchdata.searchCombo}
							</td>
							<td>Deals:</td>
							<td>							
							<div id="dealDiv">
							{$actionReturn.searchdata.searchCombo1}
							</div>
							</td>
							<td>
							<input type="text" name="keyword" maxlength="25" id="id_keyword" value="{$actionReturn.searchdata.keyword}" size="13"/>
							</td>
							<td>
							<input name="actionvar" type="submit" class="butsubmit" value="Search" />
							</td>
							<td>
							<input name="actionvar" type="submit" class="butsubmit" value="Reset" />
							</td>
							<td>
							{if $obj->permissionCheck("Add")}
							<input name="actionvar" type="submit" class="butsubmit" value="Add New" />
							{/if}
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			{ if $obj->permissionCheck("View")}
			{if $actionReturn.data}
			<tr>
				<td align="center" valign="middle">
					<table width="100%" border="0" cellpadding="0" cellspacing="0" class="listTable">
						<tr align="center" valign="middle">							
							<th>No</th>
							<th>
							<a href="{$obj->getLink('Search','',false)}&sortField=salesagentname&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
							Sales Agent
							{$obj->getSortImage('salesagentname',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}
							</a>	
							</th>
							
							<th>														
							<a href="{$obj->getLink('Search','',false)}&sortField=total&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
							Total Commission
							{$obj->getSortImage('total',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}
							</a>							
							</th>
							
							<th>	
							<a href="{$obj->getLink('Search','',false)}&sortField=used&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
							Paid Commission
							{$obj->getSortImage('used',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}
							</a>
							</th>
							
							<th>	
							<a href="{$obj->getLink('Search','',false)}&sortField=balance&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
							Balance to Pay
							{$obj->getSortImage('balance',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}
							</a> 
							</th>
							
							<th>Action 	</th>
						</tr>
					
					{foreach from=$actionReturn.data item=data name=i }
						<tr>	
							<td>{$actionReturn.spage->startingRow+$smarty.foreach.i.index}</td>
							<td> {$data.salesagentname} </td>
							<td><a class="helpText" onmouseover="return escape('{$data.totDet}')">${$data.total}</a></td>
							<td><a class="helpText" onmouseover="return escape('{$data.payDet}')">${$data.used}</a></td>
							<td><a class="helpText" onmouseover="return escape('{$data.balDet}')">${$data.balance}</a></td>
							<td>
							{if $obj->permissionCheck("View")}
							<a href="{$obj->getLink('Listing','salesPaymentDetail.php',true,$obj->getConcat('sid=',$data.saleagent_id))}" class="Second_link">
							<img src="images/view.gif" border="0" title="Click here to view payment details of {$obj->getdbsinglevalue_cond('vod_admin_users',$obj->getConcat('concat(','fname',',\'  \',','lname',')'),$obj->getConcat('id=',$data.saleagent_id))} ">
							
							</a>  
							{/if}
							</td>
						
						</tr>
					{/foreach}
					<tr>
						<td colspan="6">{$actionReturn.spage->s_get_links()}</td>
					</tr>
				</table>
				</td>
			</tr>
		{/if}
		{/if}
		</table>
	</td>
	{/if}
</tr>
</table>
</form>
{literal}
<script type="text/javascript" src="js/tooltip.js"></script>		
{/literal}
{include_php file="footer.php"}
