{assign var="actionReturn" value=$obj->actionReturn}
{literal}
</script>
<link type="text/css" href="js/ui/themes/base/jquery.ui.all.css" rel="stylesheet" />
<script type="text/javascript" src="js/ui/ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="js/ui/ui/jquery.ui.widget.js"></script>
<script type="text/javascript" src="js/ui/ui/jquery.ui.datepicker.js"></script>

{/literal}
               

<form action="" name="fromName" method="post" enctype="multipart/form-data">
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="table_style">
{if $obj->getPageError()}
<tr>
	<td class="errorMessage">{$obj->popPageError()}</td>
</tr>
{/if}
<tr>
	<td class="pageHead"><strong>Sales Agent Payment Transaction Details - {$obj->getdbsinglevalue_cond('vod_admin_users',$obj->getConcat('concat(','fname',',\'  \',','lname',')'),$obj->getConcat('id=',$actionReturn.data[0].saleagent_id))}</strong></td>
</tr>

<tr>
	{if $obj->currentAction	==	"Listing"}
	<td>
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tr>
				<td  align="right">&nbsp;</td>
			</tr>
			
			<tr>
				<td>
					<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="searchTable">
						<tr>
							<td><strong> {$actionReturn.spage->startingRow} - {$actionReturn.spage->endingRow}  </strong> of <strong>{$actionReturn.spage->totcnt} </strong></td>
							<td>From Date </td>
							<td>
									<input name="from_date" id="from_date" type="text" value="{$actionReturn.searchdata.from_date}" size="15"  />
							</td>
							<td>To Date </td>
							<td>
								<input name="to_date" id="to_date" type="text"  value="{$actionReturn.searchdata.to_date}" size="15" />
							<td>							
							
							</td>
							<!--<td>
							<input type="text" name="keyword" maxlength="25" id="id_keyword" value="{$actionReturn.searchdata.keyword}" />
							</td>-->
							<td>
							<input name="actionvar" type="submit" class="butsubmit" value="Search" />
							</td>
							<td>
							<input name="actionvar" type="submit" class="butsubmit" value="Reset" />
							</td>
							<td>
							<input name="actionvar" type="submit" class="butsubmit" value="Back" />
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			{ if $obj->permissionCheck("View")}
			{if $actionReturn.data}
			<tr>
				<td align="center" valign="middle">
					<table width="100%" border="0" cellpadding="0" cellspacing="0" class="listTable">
						<tr align="center" valign="middle">							
							<th>#</th>
							<th><a href="{$obj->getLink('Search','',false)}&sortField=name&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
							Deal
							{$obj->getSortImage('name',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}
							</a></th>
							<th>
							<a href="{$obj->getLink('Search','',false)}&sortField=total&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
							Total Commission
							{$obj->getSortImage('total',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}
							</a>	
							</th>
							<th>
							<a href="{$obj->getLink('Search','',false)}&sortField=used&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
							Paid Commission
							{$obj->getSortImage('used',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}
							</a>
							</th>
							<th>
							<a href="{$obj->getLink('Search','',false)}&sortField=balance&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
							Balance to Pay
							{$obj->getSortImage('balance',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}
							</a> 
							</th>
							<th>
							<a href="{$obj->getLink('Search','',false)}&sortField=date_updated&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
							Updated Date
							{$obj->getSortImage('date_updated',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}
							</a>
							</th>
						</tr>
					
					{foreach from=$actionReturn.data item=data name=i }
						<tr>	
							<td>{$actionReturn.spage->startingRow+$smarty.foreach.i.index}</td>													
							<td>{$data.name}</td>
							<td>${$data.total} </td>
							<td><a class="helpText" onmouseover="return escape('{$data.payment}')">${$data.used}</a> </td>
							<td>${$data.balance}</td>	
							<td>{$obj->displayTime($data.date_updated)}</td>								
						</tr>
						{if $data.payment}
						<!--<tr>	
																		
							<td colspan="6">
							<table width="100%" border="0" cellpadding="0" cellspacing="0" class="listTable">
							
							<tr align="center" valign="middle">
								<th>Paid Date</th>
								<th>Paid Amount</th>
								<th>Updated By</th>
							</tr>
							{foreach from=$data.payment item=data1 name=j}
							<tr align="center" valign="middle">
								<td>{$data1.payment_date}</td>
								<td>{$data1.amount}</td>
								<td>{$data1.updated_by}</td>
							</tr>
							{/foreach}
							</table>
							</td>
							
						</tr>-->
						{/if}
						
					{/foreach}
					<tr>
						<td colspan="6">{$actionReturn.spage->s_get_links()}</td>
					</tr>
				</table>
				</td>
			</tr>
		{/if}
		{/if}
		</table>
	</td>
	{/if}
</tr>
</table>
</form>

{literal}
<script type="text/javascript" type="text/javascript">

$(document).ready(function() {
		var dates = $('#from_date, #to_date').datepicker({
			showAnim:'show',
			defaultDate: "+1w",
			dateFormat:'yy-mm-dd',
			changeMonth: true,
			changeYear: true,
			numberOfMonths: 1,
			yearRange:'c-50:c+1',
			autoSize:false,
			onSelect: function(selectedDate) {
				var option = this.id == "from_date" ? "minDate" : "maxDate";
				var instance = $(this).data("datepicker");
				var date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
				dates.not(this).datepicker("option", option, date);
			}
		});
	});
</script>
<script type="text/javascript" src="js/tooltip.js"></script>		
{/literal}
{include_php file="footer.php"}
