{literal}
<script language="javascript" type="text/javascript">

function  subValidate()
	{
		if(document.form_sub.mainid.value=="")
			{
				alert("Please select menu");
				document.form_sub.mainid.focus();
				return false;
			}
		if(document.form_sub.spage.value=="")
			{
				alert("Please enter page name");
				document.form_sub.spage.focus();
				return false;
			}
		if(document.form_sub.stitle.value=="")
			{
				alert("Please enter page title");
				document.form_sub.stitle.focus();
				return false;
			}
		if(document.form_sub.sdes.value=="")
			{
				alert("Please enter description");
				document.form_sub.sdes.focus();
				return false;
			}
		flag = 0;
		if(document.form_sub.actions.checked)	flag = 1;
		for(i=0;i<document.form_sub.actions.length;i++)
			{
				if(document.form_sub.actions[i].checked)
					{
						flag = 1;
						break;
					}
			}
		if(flag == 0)	
			{
				alert("Please select any option");					
				return false;
			}
		return true;	
	}
	
function  esubValidate()
	{

		if(document.form_edit.mainid.value=="")
			{
			alert("Please select menu");
			document.form_edit.mainid.focus();
			return false;
		}
		if(document.form_edit.epage.value=="")
			{
				alert("Please enter page name");
				document.form_edit.epage.focus();
				return false;
			}
		if(document.form_edit.etitle.value=="")
			{
				alert("Please enter page title");
				document.form_edit.etitle.focus();
				return false;
			}
		if(document.form_edit.edes.value=="")
			{
				alert("Please enter description");
				document.form_edit.edes.focus();
				return false;
			}			
							
		if( document.form_edit.eadd.checked==false && document.form_edit.eview.checked==false && 
		document.form_edit.eedit.checked==false &&  document.form_edit.estatus.checked==false && 
	    document.form_edit.edelete.checked==false) 
			{
				alert("Please select any option");		
				document.form_edit.eadd.focus();
				return false;
			}
				return true;	
	}
</script>
{/literal}

<table width="100%"  border="0" cellspacing="0" cellpadding="0">	 
	<tr>
	<td width="90%" class="pageHead">Page Settings</td>
	</tr>
	
	<tr>
		<td> <div align="right">
			<form name="form_add" method="post" action="">			
			<input name="addmenu" type="submit" id="addmenu" value="Add Page"  class="subButton">			
			</form>
		</div>
		</td>
	</tr>
	
	{if $TPL_MESSAGE}
	<tr>
		<td class="errorMessage">{$TPL_MESSAGE}</td>        
	</tr>
	{/if}
	{if $smarty.request.add == "" && $smarty.request.edit == ""}	
	<tr>
		<td>
			<form name="form_new" method="post" action="">
				<table width="100%" align="center">
				
					<tr>
					<td>	
					<input name="key_word" type="text" size="25"  id="key_word" value="{$smarty.request.key_word}"/>
					<input name="search" type="submit" id="search" value="  Search " class="subButton" />			
					</td>			
					</tr>
				
				</table>
			</form>
		</td>
	</tr>
	{/if}
	<tr><td>&nbsp;</td></tr>
	
	{if $smarty.request.edit ==	""  && $smarty.request.add != ""}
	<tr>
		<td>
			<form name="form_sub" method="post" action="" enctype="multipart/form-data">
			<table  border="0" cellspacing="2" cellpadding="2"  align="center" width="80%"> 
			<tr>
			<th colspan="2"><div align="left"><strong>Add Page</strong></div></th>				
			</tr>
			<tr>
			<td width="100" align="left">Menu</td>	
			<td align="left">{$TPL_MAINA}</td>			
			</tr>
			<tr>
			<td align="left">Page</td>	
			<td align="left">
			<input name="spage" type="text" id="spage" value="{$smarty.request.spage}" size="35" maxlength="50"></td>			
			</tr>
			<tr>
			<td align="left">Title</td>	
			<td align="left">
			<input name="stitle" type="text" id="stitle" value="{$smarty.request.stitle}" size="35" maxlength="50"></td>			
			</tr>		
			<tr>
			<td align="left">Description</td>	
			<td align="left">
			<textarea name="sdes" cols="50" rows="3" class="textArea" id="sdes">{$smarty.request.sdes}</textarea></td>			
			</tr>						
			<tr>
			<td align="left">Menu Options</td>	
			<td>
			
			{section name=i loop=$action_arr}
			<input type="checkbox" name="actions[]" id="add" value="{$action_arr[i].id}" />{$action_arr[i].action}   
			{/section}			
			</td>			
			</tr>
			<tr>
			<td>&nbsp;</td>
			<td>
			<div align="left">
			<input  name="ssubmit" type="submit" id="ssubmit" value="  Save "  onclick="return subValidate();"  class="subButton">					
			<input name="scancel" type="submit" id="scancel" value="Cancel"  class="subButton">
			</div>
			</td>			
			</tr>
			</table>	
			</form>	
			<script language="javascript" type="text/javascript">
			document.form_sub.mainid.focus();
			</script>
		</td>
	</tr>
	
	{/if}
	
	{if $smarty.request.edit != ""}
		<tr>
			<td>
				<form name="form_edit" method="post" action="" enctype="multipart/form-data">
				<table  border="0" cellspacing="2" cellpadding="2"   align="center" width="80%"> 
				<tr>
				<th colspan="2"><div align="left"><strong> Edit Page</strong></div></th>				
				</tr>
				<tr>
				<td align="left" width="100">Menu</td>	
				<td align="left">{$TPL_MAIN}</td>			
				</tr>
				<tr>
				<td align="left" >Page</td>	
				<td align="left">
				<input name="epage" type="text" id="epage" value="{$edit_arr[0].page}" size="35" maxlength="50"></td>			
				</tr>	
				<tr>
				<td align="left">Title</td>	
				<td align="left">
				<input name="etitle" type="text" id="etitle" value="{$edit_arr[0].pagetitle}" size="35" maxlength="50"></td>			
				</tr>					
				<tr>
				<td align="left">Description</td>	
				<td align="left">
				<textarea name="edes" cols="50" rows="3" class="textArea" id="edes">{$edit_arr[0].description}</textarea></td>			
				</tr>						
				<tr>
				<td>Menu Options</td>	
				<td align="left">						
				
				{section name=i loop=$action_arr}
			<!--	<input type="checkbox" name="eactions[]" id="add" value="{$action_arr[i].id}" />{$action_arr[i].action}   -->
				{/section}	
				
				
				</td>			
				</tr>
				<tr>
				<td>&nbsp;</td>
				<td>
				<div align="left">
				<input  name="esubmit" type="submit" id="esubmit" value="Update"  onclick="return esubValidate();" 
				 class="subButton">					
				<input name="ecancel" type="submit" id="ecancel" value="Cancel"  class="subButton">
				</div>
				</td>			
				</tr>
				</table>	
				</form>	
				<script language="javascript" type="text/javascript">
				document.form_edit.mainid.focus();
				</script>
			
			</td>
		</tr>
		
	{/if}
	<tr><td>&nbsp;</td></tr>
	
	{if $smarty.request.add == ""}  
	<tr>
	<td>
	<form name="form_view" method="post" action="">
	{if $data_arr} 
	<strong>{$count} Page(s) found</strong> <br/><br/>
	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="formTable">
	<tr>          
	<th><div align="left">Page</div></th>
	<th><div align="left">Title</div></th>
	<th><div align="left">Menu</div></th>
	<th><div align="left">Status</div></th>
	<th><div align="left">Enable</div></th>
	
	<th><div align="left">Options</div></th>
	
	<th >Preference</th>  
	
	</tr>		
	{section name=i loop=$data_arr}
	<tr>          
	<td><div align="left">{$data_arr[i].page}</div></td>
	<td><div align="left">{$data_arr[i].pagetitle}</div></td>
	<td><div align="left">{$data_arr[i].menu}</div></td>
	<td>
		<div align="left">	
		{if $data_arr[i].status	==	"1"}	
		<a href="pagesettings.php?id={$data_arr[i].id}&status=1" title="Click here to inactivate">
		<img src="images/active.gif" border="0" alt="Active" ></a>
		{else}	
		<a href="pagesettings.php?id={$data_arr[i].id}&status=0" title="Click here to activate">
		<img src="images/inactive.gif" border="0" alt="Inactive"></a>	
		{/if}
		</div>
	
	</td>
	
	<td>
		<div align="left">
			{if $data_arr[i].penable	==	"1"}				
			<a href="pagesettings.php?id={$data_arr[i].id}&penable=1" title="Click here to disable">
			<img src="images/active.gif" border="0" title="Click here to disable"></a>		
			{else}		
			<a href="pagesettings.php?id={$data_arr[i].id}&penable=0" title="Click here to enable">
			<img src="images/inactive.gif" border="0" title="Click here to enable"></a>			
			{/if}
		</div>
	</td>
	
	<td>
	<div align="left">
		<a href="pagesettings.php?edit={$data_arr[i].id}">
		Edit <img src="images/edit.gif"  border="0" title="Edit">
		</a>
	</div>
	</td>		
	
	<td> 
	{if $data_arr|@count!=1}
	{if $smarty.section.i.index+1	==	"1"}
	<a href="pagesettings.php?pid={$data_arr[i].id}&prf=1" >Down<img src="images/down.gif"  border="0"></a>
	{/if}
	{if $smarty.section.i.index+1	==	$data_arr|@count}
	<a href="pagesettings.php?pid={$data_arr[i].id}&prf=2" >Up<img src="images/up.gif" border="0"></a>
	{/if}
	{if $smarty.section.i.index+1	> 1 && $smarty.section.i.index+1 < $data_arr|@count}
	<a href="pagesettings.php?pid={$data_arr[i].id}&prf=1">Down<img src="images/down.gif" border="0"></a>
	<a href="pagesettings.php?pid={$data_arr[i].id}&prf=2">Up<img src="images/up.gif" border="0"></a>
	
	{/if}
	{else}
	No Preference
	{/if}	
	</td>
	
	</tr>
	{/section}        
	</table>
	{if $paging}
		<tr>
			<td><div align="center">{$paging}</div></td>
		</tr>
	{/if}
	{/if}
	</form>
	</td>
	</tr>
	{/if}

</table>

{include_php file="footer.php"}


