<table width="100%" border="0" cellpadding="0" cellspacing="0" class="table_style">
<tr>
	<td class="pageHead"><strong>Administrators </strong></td>
</tr>
<tr>
	<td>
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tr>
				<td  align="right">&nbsp;</td>
			</tr>
			
			<tr>
				<td>
					<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="searchTable">
						<tr>
							<td>Viewing  - <strong> 6 </strong> of 6 Administrators</td>
							<td>Administrators per page:</td>
							<td>
							<select name="select" id="select">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							</select>
							</td>
							<td>
							<input type="text" name="textfield" id="textfield" />
							</td>
							<td>
							<input name="Submit" type="submit" class="butsubmit" value="Search" />
							</td>
							<td>
							<input name="Submit" type="submit" class="butsubmit" value="Add New" />
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<table width="100%" border="0" cellpadding="0" cellspacing="0" class="listTable">
					<tr align="center" valign="middle">
					<th>#</th>
					<th>Username</th>
					<th>Email</th>
					<th>Status</th>
					<th>Action </th>
					</tr>
					<tr align="center" valign="middle">
					<td>1</td>
					<td>admins</td>
					<td>admin@schedulescape.com</td>
					<td><img src="images/y.gif" alt="Kojo" /></td>
					<td><a href="#" class="Second_link">Edit</a></td>
					</tr>
					<tr>
					<td>2</td>
					<td>deepa</td>
					<td>deep.menon@yahoo.com</td>
					<td><img src="images/y.gif" alt="Kojo" /></td>
					<td><a href="#" class="Second_link">Edit</a> | <a href="#" class="Second_link">Delete</a></td>
					</tr>
					<tr>
					<td>3</td>
					<td>heren</td>
					<td>thisisheren@gmail.com</td>
					<td><img src="images/y.gif" alt="Kojo" /></td>
					<td><a href="#" class="Second_link">Edit</a> | <a href="#" class="Second_link">Delete</a></td>
					</tr>
					<tr>
					<td>4</td>
					<td>martin</td>
					<td>webtesters@gmail.com</td>
					<td><img src="images/y.gif" alt="Kojo" /></td>
					<td><a href="#" class="Second_link">Edit</a> | <a href="#" class="Second_link">Delete</a></td>
					</tr>
					<tr>
					<td>5</td>
					<td>salin</td>
					<td>test.4me.mail@gmail.com</td>
					<td><img src="images/y.gif" alt="Kojo" /></td>
					<td><a href="#" class="Second_link">Edit</a> | <a href="#" class="Second_link">Delete</a></td>
					</tr>
					<tr>
					<td>6</td>
					<td>tom</td>
					<td>Webtesters10@gmail.com</td>
					<td><img src="images/y.gif" alt="Kojo" /></td>
					<td><a href="#" class="Second_link">Edit</a> | <a href="#" class="Second_link">Delete</a></td>
					</tr>
					</table>
				</td>
			</tr>
		</table>
	</td>
</tr>
</table>

{include_php file="footer.php"}
