{call_header title="Admin Users"}
{assign var="actionReturn" value=$obj->actionReturn}

{if $obj->getPageError()}
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="table_style">
<tr>
	<td class="errorMessage">{$obj->popPageError()}</td>
</tr>
</table>
{/if}

{if $obj->currentAction	==	"Listing"}

<form action="" name="fromName" method="post" enctype="multipart/form-data">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="searchTable">
<tr>
	<td><strong> {$actionReturn.spage->startingRow} - {$actionReturn.spage->endingRow}  </strong> of <strong>{$actionReturn.spage->totcnt} </strong> </td>
	<td>
		<input name="actionvar" type="submit" class="butsubmit" value="Add New" />
	</td>
</tr>
</table>
</form>


					
{if $actionReturn.data}
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="searchTable">
	<tr>
		<td align="center" valign="middle">
			<form action="" name="fromName" method="post" enctype="multipart/form-data">
			<table width="100%" border="0" cellpadding="0" cellspacing="0" class="listTable">
				<tr align="center" valign="middle">							
					<th>No</th>
					<th>Name</th>
					<th>Email</th>
					<th>Options</th>
				</tr>
				{foreach from=$actionReturn.data item=x name=i}
				<tr>
					<td>{$actionReturn.spage->startingRow+$smarty.foreach.i.index}</td>
					<td>{$x.name}</td>
					<td>{$x.email}</td>
					<td>
					<a href="{$obj->getLink('Editform','',false)}&id={$x.id}" class="Second_link">
							Edit
					</a>
					 &nbsp;&nbsp;&nbsp;
					<a href="{$obj->getLink('Delete','',false)}&id={$x.id}" class="Second_link">
							Delete
					</a>
					</td>
				</tr>
				{/foreach}
				<tr>
				<td colspan="4">{$actionReturn.spage->s_get_links()}</td>
				</tr>
			</table>
			</form>
		</td>
	</tr>
</table>
				
{/if}

{/if}

if ($obj->currentAction	==	"Addform"}
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="searchTable">
<tr>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>
	<form action="" name="fromName" method="post" enctype="multipart/form-data">
		<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="formTable">
			<tr>
				<th colspan="2">Add Users</th>
			</tr>

			<tr>
				<td>First Name</td>
				<td><input type="text"  name="name" valtype="emptyCheck-Please enter your name" value="{$actionReturn.data.name}" id="fnameId" class="validateText" /></td>
			</tr>
			
			<tr>
				<td>Email</td>
				<td><input type="text"  name="email" valtype="emptyCheck-Please enter your Email|emailCheck-please enter a valid Email " value="{$actionReturn.data.email}" id="emailId" class="emailValidate" /></td>
			</tr>
					
			<tr>
				<td>&nbsp;</td>
				<td>
				{if $obj->currentAction	==	"Editform"}
					
					<input type="submit" class="butsubmit"  valcheck="true" name="actionvar" value="Update" id="saveDataId" />
				
				{else}
					
					<input type="submit" class="butsubmit" valcheck="true" name="actionvar" value="Save" id="saveDataId" />
					
				{/if}
					<input type="submit" class="butsubmit"  name="actionvar" value="Cancel" id="cancelId" />
				</td>
			</tr>
		
		</table>
			</form>
	</td>
</tr>	
</table>
{/if}

</table>


{call_footer}
