{call_core_header title="Change Password"}
{literal}
<script type="text/javascript">
		$(document).ready(function(){
		$("#changepass").tooltip();
	});
</script>
{/literal}
<form action="" name="fromName" method="post" enctype="multipart/form-data">
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="table_style">

	{if $obj->getPageError()}
	
	<tr>
		<td class="errorMessage">{$obj->popPageError()}</td>
	</tr>
	{/if}
	<tr>
		<td class="pageHead"><span id="changepass"><strong> Change Password  </strong></td>
	</tr>

	
	{if $obj->currentAction	==	"Listing"}
	<tr>
	{if $obj->permissionCheck("View")}	
  
      </div>
		<td>
			<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tr>
					<td  align="right">&nbsp;</td>
				</tr>
					<tr>	
						<td align="center" valign="middle">
							<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="formTable">
								<tr>
									<th colspan="2">Change Password</th>
								</tr>
								<tr>
									<td WIDTH="300">Old password </td>
									<td><input type="password" width="300" name="oldPass" valtype="emptyCheck-Please enter your old password " value="{$actionReturn.data.oldPass}" /></td>
								</tr>
								<tr>
									<td>New password</td>
									<td><input type="password"  name="newPass" valtype="emptyCheck-Please enter your new password" value="{$actionReturn.data.newPass}"/></td>
								</tr>
								<tr>
									<td>Confirm Password</td>
									<td><input type="password"  name="confNewpass" valtype="emptyCheck-Please retype your password" value="{$actionReturn.data.phone}" id="confNewpass"  /></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td>{if $obj->permissionCheck("Edit")}		
										<input type="submit" valcheck="true" class="butsubmit"   name="actionvar" value="Change " id="saveDataId" />
										<input type="submit" class="butsubmit"  name="actionvar" value="Cancel" id="cancelId" />
										{/if}
									</td>
								</tr>
							</table>
						</td>
					</tr>
			</table>
			{/if}
		</td>
	</tr>
	{/if}
</table>
</form>
{literal}

<script type="text/javascript" src="js/formValidation.js"> </script>
{/literal}
{call_core_footer}

