{call_core_header title="Menu Settings"}
{literal}
<script type="text/javascript">
$(document).ready(function(){
$("#menusetting").tooltip();
});

</script>
{/literal}
{assign var="actionReturn" value=$obj->actionReturn}

<table width="100%" border="0" cellpadding="0" cellspacing="0" class="table_style">

{if $obj->getPageError()}
<tr>
	<td class="errorMessage">{$obj->popPageError()}</td>
</tr>
{/if}
<tr>
	<td class="pageHead"><span id="menusetting"><strong>Menu Settings </strong></span></td>
</tr>
{if ($obj->currentAction	==	"Addform")	||	($obj->currentAction	==	"Editform")}
<tr>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>
	<form action="" name="fromName" method="post" enctype="multipart/form-data">
		<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="formTable">
			<tr>
				<th colspan="2">Manage Menus</th>
			</tr>
			
			<tr>
				<td width="300">Menu Title</td>
				<td ><input type="text"  name="menutitle" valtype="emptyCheck-Please enter the Menu Title " value="{$actionReturn.data.menutitle}" id="menutitleId" class="validateText" /></td>
			</tr>			
			<tr>
				<td>Menu Name</td>
				<td><input type="text"  name="menuname" valtype="emptyCheck-Please enter the Menu Name " value="{$actionReturn.data.menuname}" id="menunameId" class="validateText" /></td>
			</tr>
			{if $obj->currentAction	==	"Editform"}
			<tr>
				<td >Sort Order</td>
				<td >
				<input name="txtpreference" type="text" id="preferenceId" valtype="emptyCheck-Please enter a number|checkNumber-Only numbers are allowed"  size="10" value="{$actionReturn.data.preference}" 
				class="nummberOnly"  maxlength="10">
				</td>
			</tr>
			{/if}
			
			<tr>
				<td>&nbsp;</td>
				<td>
				{if $obj->currentAction	==	"Editform"}
					{if $obj->permissionCheck("Edit")}
						<input type="submit" class="butsubmit" valcheck="true"  name="actionvar" value="Update" id="saveDataId" />
					{/if}
				{else}
					{if $obj->permissionCheck("Add")}
						<input type="submit" valcheck="true" class="butsubmit"  name="actionvar" value="Save" id="saveDataId" />
					{/if}
				{/if}
					<input type="submit" class="butsubmit"  name="actionvar" value="Cancel" id="cancelId" />
				</td>
			</tr>
		</table>
		</form>
	</td>
</tr>	
{/if}


{if $obj->permissionCheck("View")}

<tr>
	
	{if $obj->currentAction	==	"Listing"}
	<td>
		
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tr>
				<td  align="right">&nbsp;</td>
			</tr>
			
			<tr>
				<td>
					<form action="" name="fromName" method="post" enctype="multipart/form-data">
					<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="searchTable">
						<tr>
							<td>  <strong> {$actionReturn.spage->startingRow} - {$actionReturn.spage->endingRow} </strong> 
							of <strong>{$actionReturn.spage->totcnt} </strong> </td>
							
							<td>
							<input type="text" name="keyword" maxlength="25" id="id_keyword" value="{$actionReturn.searchdata.keyword}" />
							</td>
							<td>
							<input name="actionvar" type="submit" class="butsubmit" value="Search" />
							</td>
							<td>
							<input name="actionvar" type="submit" class="butsubmit" value="Reset" />
							</td>							
							<td>
							{if $obj->permissionCheck("Add")}
							<input name="actionvar" type="submit" class="butsubmit" value="Add New" />
							{/if}
							</td>
							
						</tr>
					</table>
					</form>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			{if $actionReturn.data}
			<tr>
				<td align="center" valign="middle">
					<form action="" name="fromName" method="post" enctype="multipart/form-data">
					<table width="100%" border="0" cellpadding="0" cellspacing="0" class="listTable">
						<tr align="center" valign="middle">							
							<th>No</th>
							<th>
<a href="{$obj->getLink('Search','',false)}&sortField=menutitle&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
								Title
{$obj->getSortImage('menutitle',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}
								</a>
							
							</th>
							<th>
							<a href="{$obj->getLink('Search','',false)}&sortField=menuname&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
								Name
{$obj->getSortImage('menuname',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}
								</a>
							</th>
							<th>
							<a href="{$obj->getLink('Search','',false)}&sortField=preference&sortMethod={$obj->getNegativeSort($actionReturn.searchdata.sortData.sortMethod)}">
								Order
{$obj->getSortImage('preference',$actionReturn.searchdata.sortData.sortField,$actionReturn.searchdata.sortData.sortMethod)}
								</a>
							</th>
							<th>Enable</th>
							<th>							
							Action 							
							</th>
							

						</tr>
					{foreach from=$actionReturn.data item=data  name=i}
						<tr>
							<td>{$actionReturn.spage->startingRow+$smarty.foreach.i.index}</td>
							<td>{$data.menutitle}</td>
							<td>{$data.menuname}</td>
							<td>{$data.preference}</td>
							
							<td>							
							{if $obj->permissionCheck("Status")}
							<a href="{$obj->getLink('Enablechange','',true,$obj->getConcat('id=',$data.id))}" class="Second_link">
							{/if}	
								{if $data.menable == 1} 
								<img src="images/active.gif" border="0" title="Click here to disable the menu">
								{else} 							 
								<img src="images/inactive.gif" border="0" title="Click here to enable the menu">
								{/if}
							{if $obj->permissionCheck("Status")} 
							</a> 
							{/if}				
							
							</td>
							
							<td>
					{if $obj->permissionCheck("Status")}
					<a href="{$obj->getLink('Stauschange','',true,$obj->getConcat('id=',$data.id))}" class="Second_link">
					{/if}
							{if $data.status == 1} 
							<img src="images/active.gif" border="0" title="Click here to inactivate">
							 {else} 							 
							 <img src="images/inactive.gif" border="0" title="Click here to activate">
							 {/if}
					{if $obj->permissionCheck("Status")}
					 </a> 
					{/if}	 
							{if $obj->permissionCheck("Edit")}
							<a href="{$obj->getLink('editform','',true,$obj->getConcat('id=',$data.id))}" class="Second_link">
							<img src="images/edit.gif" border="0" title="Click here to edit">
							
							</a>  
							{/if}
											
							
							</td>
						</tr>
					{/foreach}
					<tr>
						<td colspan="6">{$actionReturn.spage->s_get_links()}</td>
					</tr>
				</table>
				</form>
				</td>
			</tr>
		{/if}
		
		</table>
		
	</td>
	{/if}
</tr>
{/if}
</table>


{call_core_footer}
