{call_core_header title="No Permission"}

<table width="100%" border="0" cellpadding="0" cellspacing="0" class="table_style">

<tr>
	<td class="errorMessage">&nbsp;</td>
</tr>

<tr>
	<td class="pageHead"><strong>No Permission </strong></td>
</tr>



<tr>
	
	<td>
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tr>
				<td  align="right">&nbsp;
				</td>
			</tr>
			<tr>
				<td  align="right">
					<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="searchTable">
						<tr>
							<td align="right">
							<a href="javascript:history.go(-1)" title="Click here to go back" class="Second_link" style="">							
								<input name="actionvar" type="button" class="butsubmit" value="Back" />	
								</a>						
							</td>
							
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" height="500">
					
					
							<tr>
							<td class="errorMessage"> YOU HAVE NO PERMISSION TO VIEW THE PAGE 							
							</td>
						</tr>
						<tr>
							<td >&nbsp;
							
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			
		
		</table>
	</td>
	
</tr>
</table>
{call_core_footer}
